header {
    font-family: Helvetica, Arial, sans-serif;
  }

  body {
    border: 3px solid whitesmoke;
    

  }
  
  h1 {
    position: fixed;
    color: darkmagenta;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    
    
    
    
  }
  
  h3 {
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   }
  
  p {
    font-size: 18px;
    text-align: center;
    padding: 2rem 2rem;
    font-family: sans-serif;
    color:#FFF;
    background-color:rgba(0, 0, 0, 0);
   
  }
  
  
  a {
    text-decoration: none;
  }
  .charselect {
    height: 2rem;
    padding: 1rem 5rem;
    position: sticky;
    top: 0rem;
    z-index: 1;
    text-align: center;
    border: 3px solid #FFF;
    border-radius: 1%;
    
   }

  .button {
    border: 3px solid black;
    background-color:dimgray;
    color:whitesmoke; 
    line-height: 1rem;
    align-items: center;
    padding: 0rem, 1 rem;

  }
.banner {
    border: 10px solid grey;
    position: relative;
    top: 0rem;
    bottom: 0rem;
    padding: 12rem;
    background: url("https://i.pinimg.com/originals/38/10/47/381047687e1da1d3a72ef196503e1529.jpg");
    background-position:center;
    height:min-content;
    margin: 0;
    background-size:cover;
 }


.button:hover {
  background-color: #05A8AA;
  border: 2px solid #05A8AA;
  color: #FFF;
  position: relative;
  top: 0rem;
  width: 2rem;

}

.content {
    display: inline-block;
    padding: 1rem, 0rem, 5rem, 1rem;
    position: relative
    
    
} 

main {
    Text-align: center;
    position: center;
  

}

 div h3 {
    Border: 2px solid black;
    background-color:slategray;
    
}

div li {
  margin: 0, auto;
  width:1 rem;
  color:#FFF;
}


.section1, .section2, .section3, .section4 {
  Border: 2px solid grey;
 
}

.navlinks {
  display: inline-block;
  max-width: 100%;
  border: 0px Solid black;
  padding: 1rem;
}

header {
  align-items: center;
  overflow: hidden;
  width: 100%;
  height:fit-content;
  top: 100%;
  
}

html {
  background-color:black;  
}

head {
  line-height: 1.4;
}
