header {
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  /* border: 3px solid silver; */
  background: url("https://i.imgur.com/yMRvYGL.png");
  background-position: center;
  background-size: contain;
  opacity: 1;
  margin: 0;
}

h1 {
    /* border: 1px solid black; */
  width: 100%;
  /* background-Image: url("https://i.pinimg.com/564x/19/e2/66/19e2661c60f22059fa8898b6920b17c8.jpg"); */
  position: absolute;
  z-index: 1;
  color: darkmagenta;
  font-family: 'Shadows Into Light', cursive;
  overflow: hidden;
  margin: 0;
  /* box-shadow: 1px 1px; */

}

h3 {
  color: #9d09a5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-size: 18px;
  text-align: center;
  padding: 2rem 2rem;
  font-family: sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);

}


a {
  text-decoration: underline;
  text-decoration-color: rgb(15, 15, 15);
}

.character {
  padding: 1rem 5rem;
  position: sticky;
  top: 0rem;
  z-index: 1;
  text-align: center;
  border: 3px solid #FFF;
  border-radius: 1%;

}

.button1 {
  border: 3px solid black;
  background-color: dimgray;
  color: whitesmoke;
  line-height: 1rem;
  align-items: center;
  padding: 0rem, 1 rem;

}

.button:hover {
  background-color: #05A8AA;
  border: 2px solid #05A8AA;
  color: #FFF;
  position: relative;
  top: 0rem;
  width: 2rem;

}

.content {
  display: inline-block;



}

main {
  Text-align: center;
  position: center;


}

div h3 {
  Border: 2px solid black;
  background-image: url("https://i.pinimg.com/564x/8b/ed/6a/8bed6ad0a8ba0caf4790897d033c3c20.jpg");
  background-position: center;

}


.section1,
.section2,
.section3,
.section4 {
  Border: 2px solid;


}

.section2 p {
  padding-top: 1rem;
  text-align: center;
}

.section4 p {
  padding-top: 1rem;
  text-align: center;
}

.nav {
  display: inline-block;
  max-width: 100%;
  border: 0px Solid black;
  padding: 1rem;
}

header {
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  top: 100%;

}

html {
  background-color: black;
}

head {
  line-height: 1.4;
}

.button2 {
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #767676, 0px -2px 2px rgba(35, 35, 35, .9) inset, 0 2px 2px rgb(143 112 112 / 80%) inset;
  background: linear-gradient(rgb(15 16 16), #990ebc);
  text-shadow: 0 -2px #767676;
}

.button2:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px #8c16c6 inset;
  background: rgb(255, 255, 255);
  background: linear-gradient(#ffffff, rgb(15, 15, 15));
  border-color: #333;
}

.button2:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #8392aa;
  background: linear-gradient(#000000, #020e02);
}


.footer {
  height: 508px;
  padding: 65px;
  border-bottom: 1px solid #466995;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

 .img {
  border: 1px solid;
  display: flex;
  justify-items: start;
  align-content: space-around;
  flex-direction: column;
}
