header {
  font-family: Helvetica, Arial, sans-serif;
}

 * {
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
}

 body {
  border: 3px solid;
  aspect-ratio:inherit;
  background: url("https://i.imgur.com/yMRvYGL.png");
  background-position: center;
  background-size: contain;
  opacity: 1;
  margin: auto;
  /* background-repeat: no-repeat; */
}

 h1, .banner {
  aspect-ratio: inherit;
  /* border: 1px solid black; */
  width: 100%;
  height: 70px;
  background-Image: url("https://i.pinimg.com/564x/19/e2/66/19e2661c60f22059fa8898b6920b17c8.jpg");
  position: relative;
  /* z-index: 1; */
  color: darkmagenta;
  font-family: 'Shadows Into Light', cursive;
  overflow: hidden;
  margin: 0;
  /* box-shadow: 1px 1px; */
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  background-size: auto;
}

 h3 {
  color: #9d09a5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
  font-size: 18px;
  text-align: center;
  padding: 2rem 2rem;
  font-family: sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0);
  line-height: 30px;
  letter-spacing: 1px;
}


 .character {
  padding: 1rem 5rem;
  position: sticky;
  top: 0rem;
  z-index: 1;
  text-align: center;
  border: 3px solid rgba(35,35,35,.9);
  border-radius: 5px;
}

 .content {
  display: inline-block;
}

 main {
  Text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  justify-items: center;
}

  h3 {
  /* Border: 2px solid black; */
  background-image: url("https://i.pinimg.com/564x/8b/ed/6a/8bed6ad0a8ba0caf4790897d033c3c20.jpg");
  background-position: center;
  /* border-radius: 1px; */
}

 .section1,
 .section2,
 .section3,
 .section4 {
  Border: 2px solid;
}
 .section2 p {
  padding-top: 1rem;
  text-align: center;
}

 .section4 p {
  padding-top: 1rem;
  text-align: center;
}

 .nav {
  display: flex;
  max-width: 100%;
  border: 0px Solid black;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 16px;
  float: left;
}

 header {
  /* align-items: center; */
  overflow: hidden;
  /* width: 100%; */
  /* height: fit-content; */
  /* top: 100%; */
}  

 html {
  background-color: black;
}

 head {
  line-height: 1.4;
}

 footer {
  height: 508px;
  padding: 65px;
  border-bottom: 1px solid #466995;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-content: flex-start; */
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

 a {
 text-decoration: none;
 color:#ffffff;
 }

 .button1 {
  border: 3px solid black;
  background-color: dimgray;
  color: whitesmoke;
  /* line-height: 1rem; */
  /* align-items: center; */
  padding: 8px;
  text-decoration: none;
  cursor: auto;
  border-radius: 5px;
}

 .button1:hover {
  background-color: #851cc2;
  border: 2px solid #851cc2;
  color: #FFF;
  position: relative;
 }

 .button1:active {
  font-size: 10px;
  transition: font-size .1s;
 }

.button2 {
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #767676, 0px -2px 2px rgba(35, 35, 35, .9) inset, 0 2px 2px rgb(143 112 112 / 80%) inset;
  background: linear-gradient(rgb(15 16 16), #990ebc);
  text-shadow: 0 -2px #767676;
  height: 50px;
  width: 200px;
  font-weight: 600;
  font-size: 15px;
  color: #767676;
  cursor: auto;
}


 .button2:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px #8c16c6 inset;
  background: rgb(255, 255, 255);
  background: linear-gradient(#ffffff, rgb(15, 15, 15));
  border-color: #333;
 
}

 .button2:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #8392aa;
  background: linear-gradient(#000000, #020e02);
}

 .img {
  border: 1px solid;
  display: flex;
  justify-items: start;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

h2 {
  display:flex;
  font-size: 20px;
  color: hsl(274.67deg 76.14% 61.02%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 480px) {
}

@media only screen and (min-width: 768px) {

}


@media only screen and (max-width: 1024px) and (orientation: landscape) {
  /* CSS ruleset */
}
@media only screen and (min-width: 1600px) {
  /* CSS ruleset */
}
